
<ion-toolbar>
  <div class="nav-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="avatar-wrapper" (click)='openProfil()'>
      <!-- USER AVATAR -->
      <img src="https://www.gravatar.com/avatar/{{user.hash}}?d=identicon" class="avatar" />
      <!-- / USER AVATAR -->
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <ion-button fill="clear" color="dark">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
  
      <ion-button fill="clear" color="dark">
        <ion-icon name="create"></ion-icon>
      </ion-button>
  
      <ion-button fill="clear" color="dark" (click)="logOut()">
        <ion-icon name="exit"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-toolbar>

<ion-toolbar>
  <ion-searchbar [(ngModel)]="searchText" type="text" placeholder="Rechercher un concours"></ion-searchbar>
</ion-toolbar>
